bin
obj
.vs
.vscode/

/XuReverseProxy/*.user
/XuReverseProxy/Properties/PublishProfiles/*.user
/XuReverseProxy/Properties/PublishProfiles/*.pubxml
publish
/build
XuReverseProxy/appsettings.user.json
XuReverseProxy/wwwroot/dist/
XuReverseProxy.Frontend/build/
Scripts/swap/bin-swap-old/
Scripts/swap/data/
Scripts/swap/bin-swap/
