.block {
  padding: 20px;
  border: 2px solid var(--color--panel-light);
  position: relative;

  @media (width <= 600px) {
    padding: 10px;
  }

  &:not(.no-bg) {
    background-color: var(--color--panel-dark);
  }

  &.block--secondary {
    border: 2px solid var(--color--secondary);
  }

  &.block--dark {
    color: #757575;
    border: 2px solid var(--color--panel);
    background-color: #121212;
  }

  &.overflow-x-scroll {
    overflow-y: auto;
  }

  .block-title {
    position: sticky;
    left: 0;
  }
}

.block-title {
  font-size: 22px;
  color: var(--color--text-dark);
  margin-bottom: 5px;
}
