$layout-max-width: 1280px;

main {
	max-width: $layout-max-width;
	margin: auto;
}

header {
	position: relative;
	z-index: 10;
	padding: 10px;
	background: var(--color--panel);
	display: flex;
    justify-content: center;
		
	.header__content {
		display: flex;
		flex: 1;
		max-width: $layout-max-width;
	}
	.logo-link {
		text-decoration: none !important;
		color: #eee !important;
	}
	.logo-text {
		font-size: 48px;
		font-weight: 600;
		margin-right: 20px;
		user-select: none;
		@media (max-width: 800px) {
			font-size: 24px;
		}
	}
	.header__nav {
		align-self: center;
		a {
			padding: 20px;
			font-size: 20px;
			@media (max-width: 800px) {
				padding: 10px;
			}
		}
		.active {
			// font-weight: 600;
			text-decoration: underline;
		}
	}
}

footer {
	position: relative;
	z-index: 10;
	padding: 5px;
	background: var(--color--panel);
	display: flex;
    justify-content: center;
		
	.footer__content {
		display: flex;
		flex: 1;
		max-width: $layout-max-width;
	}
}
