.spacer {
  flex: 1;
}

$util-margin-padding-list: (
  0: 0,
  1: 4,
  2: 8,
  3: 16,
  4: 24,
  5: 48,
);

/* stylelint-disable */
@each $key, $val in $util-margin-padding-list {
  .pa-#{$key} {
    padding: ($val) + px !important;
  }
  .pt-#{$key} {
    padding-top: ($val) + px !important;
  }
  .pb-#{$key} {
    padding-bottom: ($val) + px !important;
  }
  .pl-#{$key} {
    padding-left: ($val) + px !important;
  }
  .pr-#{$key} {
    padding-right: ($val) + px !important;
  }

  .ma-#{$key} {
    margin: ($val) + px !important;
  }
  .mt-#{$key} {
    margin-top: ($val) + px !important;
  }
  .mb-#{$key} {
    margin-bottom: ($val) + px !important;
  }
  .ml-#{$key} {
    margin-left: ($val) + px !important;
  }
  .mr-#{$key} {
    margin-right: ($val) + px !important;
  }

  @media (width >= 960px) {
    .ma-#{$key}-d {
      margin: ($val) + px !important;
    }
    .mt-#{$key}-d {
      margin-top: ($val) + px !important;
    }
    .mb-#{$key}-d {
      margin-bottom: ($val) + px !important;
    }
    .ml-#{$key}-d {
      margin-left: ($val) + px !important;
    }
    .mr-#{$key}-d {
      margin-right: ($val) + px !important;
    }
  }

  @media (width <= 961px) {
    .ma-#{$key}-m {
      margin: ($val) + px !important;
    }
    .mt-#{$key}-m {
      margin-top: ($val) + px !important;
    }
    .mb-#{$key}-m {
      margin-bottom: ($val) + px !important;
    }
    .ml-#{$key}-m {
      margin-left: ($val) + px !important;
    }
    .mr-#{$key}-m {
      margin-right: ($val) + px !important;
    }
  }
}

.code {
  font-family: monospace;
  white-space: pre;
}

.clickable {
  cursor: pointer;
}

.truncate {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spacer {
  flex: 1;
}

.spacer01 {
  flex: 0.1;
}

.flexbox {
  display: flex;

  &.center-vertical {
    align-items: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.align-items-flex-end {
    align-items: flex-end;
  }
}

.flex-right {
  display: flex;
  align-items: end;
  flex-direction: column;
}
