:root {
  --color--text: #eee;
  --color--text-dark: #b5b5b5;
  --color--text-darker: #969696;
  --color--panel: #1f1f1f;
  --color--panel-light: #373636;
  --color--panel-dark: #161616;
  --color--dialog: #1a1a1a;
  --color--hover-bg: #1e2721;
  --color--table-odd: #252525;
  --color--primary: #4f7c5d;
  --color--primary-lighten: #5f9771;
  --color--secondary: #4f657c;
  --color--secondary-lighten: #6783a1;
  --color--secondary-darken: #1f2831;
  --color--danger: #993939;
  --color--danger-lighten: #cc3232;
  --color--error-base: #ff2e2e;
  --color--warning-base: #ca8044;
  --color--success-base: #43a556;
  --color--info-base: #5d89b9;
}
