:root {
	--color--text: #eee;
	--color--text-dark: #b5b5b5;
	--color--panel: #1f1f1f;
	--color--panel-light: #373636;
	--color--panel-dark: #161616;
	--color--dialog: #333333;

	--color--primary: #4f7c5d;
	--color--primary-lighten: #5f9771;
	--color--secondary: #4f657c;
	--color--secondary-lighten: #6783a1;
	--color--danger: #993939; //#a41e1e;
	--color--danger-lighten: #cc3232;

	--color--error-base: #ff2e2e;
	--color--warning-base: #ca8044;
	--color--success-base: #43a556;
}